/* RESPONSIVE */

/* MOBILE-S */
@media screen and (min-width:600px) {
    .sidebar {
        width: 35%;
    }

    .nav-bar {
        height: 80px;
    }

    .main-content {
        width: 65%;
    }

    .cardbox {
        justify-content: space-around;
    }

    .card {
        width: 10vh;
        height: 20vh;
    }
}

/* TABLET-MD */

@media screen and (min-width: 700px) {

    .sidebar {
        width: 25%;
    }

    .main-content {
        width: 75%;
    }

    .nav-bar {
        height: 60px;
    }
}

/* DESKTOP-LG */

@media screen and (min-width: 1100px) {
    .sidebar {
        width: 20%;
    }

    .main-content {
        width: 80%;
    }

    .nav-bar {
        height: 30px;
        justify-content: space-evenly;
    }

    .nav-bar ul {
        flex-wrap: nowrap;
        gap: 40px;
    }
}