/* RESPONSIVE */

/* MOBILE-S */
@media screen and (min-width:600px) {
    :root {
        --sidebar-width: 200px;
    }

    /* .sidebar {
        width: 200px;
    } */

    .nav-bar {
        height: 80px;
    }

    /* .main-content {
        width: calc(100% - 200px);
    } */

    /* .card-box {
        justify-content: space-around;
    } */

    .card {
        width: calc(100% / 2 - (10px * 2)) min-height: 200px;
    }
}

/* TABLET-MD */

@media screen and (min-width: 700px) {

    .sidebar {
        width: 25%;
    }

    .main-content {
        width: 75%;
    }

    .nav-bar {
        height: 60px;
    }

    .card-box {
        justify-content: flex-start;

    }

    .card {
        width: calc(100% / 4 - (10px * 3) / 4);
    }


}

/* DESKTOP-LG */

@media screen and (min-width: 1100px) {
    .sidebar {
        width: 20%;
    }

    .main-content {
        width: 80%;
    }

    .nav-bar {
        height: 30px;
        justify-content: space-evenly;
    }

    .nav-bar ul {
        flex-wrap: nowrap;
        gap: 40px;
    }

    .card {
        width: calc(100% / 6 - (10px * 5) / 6);
    }
}