/* DEBUG */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    height: 100vh;
    background-color: aqua;
}

/* COMMON */
/* Typography */
body {
    font-family: 'Montserrat' sans-serif
}

/* UTILITIES */


/* TOP */
.top {
    width: 100%;
    height: calc(100% - 150px);
    background-color: darkblue;
    display: flex;
    flex-direction: row;
}

/* BOTTOM */

.bottom {
    width: 100%;
    height: 150px;
    background-color: darkgray;
}

/* SIDEBAR */

.sidebar {
    width: 10%;
    height: 100%;
    background-color: black;


}


/* MAIN */

.main-content {
    width: 90%;
    height: 100%;
    background-color: slategrey;
    overflow-y: auto;


}

.header {
    width: 100%;
    height: 100px;
    background-color: blueviolet;

}