:root {
    --sidebar-width: 60px;
    --footer-height: 100px;
    --white-color: white;
    --padding-titles: 3px 20px;
    --grey-color: grey;
    --black-color: black;
    --darkblue-color: #141922;
    --bar-color: #5a5a5a;
}

/* DEBUG */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}


.wrapper {
    width: 100%;
    height: 100vh;
    /* background-color: aqua; */
}


/* COMMON */

.flex {
    display: flex;
}

.bar {
    background-color: var(--bar-color);
    width: 50%;
    height: 4px;
    border-radius: 30px;
    vertical-align: middle;
}


/* hover */

.btn:hover {
    transform: scale(1.1); 
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.overlay i {
  font-size: 2rem;
  color: white;
}

.img-box:hover .overlay {
  opacity: 1;
}



/* Typography */

body {
    font-family: 'Montserrat', sans-serif
}

h1 {
    color: var(--white-color);
    padding: var(--padding-titles);
    margin-top: 30px;
}

h2 {
    color: var(--white-color);
    padding: var(--padding-titles);
}

h3 {
    color: var(--grey-color);
    padding: var(--padding-titles);
    font-size: 0.7rem;

}

h4 {
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 1rem;
    display: none;
}

h5 {
    color: var(--grey-color);
    padding-left: 5px;
    font-size: 0.9rem;

}

h6 {
    color: var(--white-color);
    font-size: 1rem;
    font-weight: 700;
    padding: 3px 0;
}

.lista-playlist {
    font-size: 0.8rem;
    font-weight: 700;
    color: var(--grey-color);
}

.bold {
    font-weight: 900;
}

.uppercase {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.9rem;
}

a {
    text-decoration: none;
    color: var(--white-color);
}

#app {
    color: var(--grey-color);
    vertical-align: middle;
}

#plus-icon {
    color: var(--black-color);
    vertical-align: middle;
}

.navside-top li {
    color: var(--grey-color);
}

.title {
    color: var(--white-color);
    font-size: 0.8rem;
    font-weight: 700;
    vertical-align: middle;

}

.sub {
    color: var(--grey-color);
    font-size: 0.7rem;
    font-weight: 700;
    vertical-align: middle;
}

.player-top i {
    color: var(--white-color);
    font-size: 0.9rem;
}

.player-top #play {
    font-size: 1.8rem;
}

.player-bottom span {
    color: var(--white-color);
    font-weight: 500;
    vertical-align: middle;
    font-size: 0.6rem;
}

.right i {
    font-size: 0.8rem;
}


/* UTILITIES */

#spotify-big {
    display: none;
    margin-bottom: 40px;
    margin-top: 15px;
    color:
}

#spotify-small {
    margin-bottom: 10px;
}

.sidebar hr {
    width: 20px;
    height: 1px;
    margin: 0 auto;
    background-color: var(--grey-color);
    display: none;
    border: 0;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sidefooter-display {
    display: none;
}

.square {
    background-color: grey;
    width: 35px;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.round {
    background-color: grey;
    width: 30px;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.circle {
    border-radius: 50%;
}

.btn {
    border: 1.5px solid white;
    border-radius: 30px;
    padding: 10px 25px;
    margin-right: 15px;
    font-size: 1rem;
    transform: scale(1);
    display: inline-block;

}

.right i {
    color: var(--white-color);
}

/* TOP */
.top {
    width: 100%;
    height: calc(100% - var(--footer-height));
    /* background-color: darkblue; */
    display: flex;
    flex-direction: row;


}



/* SIDEBAR */
.sidebar ul {
    list-style: none;
}


.text {
    display: none;
}

.sidebar {
    width: var(--sidebar-width);
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.sidebar img:not(:first-child) {
    opacity: 0.7;
}


.playlist {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.playlist-listflex {
    display: flex;
    flex-direction: column;
    justify-content: start;
    display: none;
}

.lista-playlist li {
    padding: 10px;

}

.lista-playlist a {
    color: var(--grey-color);
}

.icon {
    width: 35px;
    vertical-align: middle;
}

.icon-sidefooter {
    width: 20px;
    vertical-align: middle;
}


.navside-top {
    display: flex;
    flex-direction: column;
    vertical-align: middle;
}

.navside-footer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    row-gap: 8px;
}





/* MAIN */

.main-content {
    width: calc(100% - var(--sidebar-width));
    /* height: calc(100vh - 150px); */
    background-color: var(--darkblue-color);
    overflow-y: auto;
}

/* header */

.header {
    width: 100%;
    height: 100px;
    background-color: #080b12;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;


}

.nav-bar {
    width: 100%;
    height: 100px;
    background-color: var(--darkblue-color);

}

.nav-bar a {
    color: var(--grey-color);
}



.nav-bar ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-transform: uppercase;
    padding: 20px 2px;
    gap: 20px 20px;
    font-size: 0.8rem;
    font-weight: 600;
}

/* content */

.card-box {
    width: 100%;
    height: auto;
    /* height: 100vh; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px 10px;

}

.card {

    width: calc(100% / 2 - (10px * 2));
    min-height: 200px;
    text-align: center;

}

.img-box {
  position: relative;
  width: 100%;
  border-radius: 8px;
}

.img-box img {
  display: block;
  width: 100%;
}


/* BOTTOM */

.bottom {
    width: 100%;
    height: var(--footer-height);
    background-color: #282828;
    justify-content: space-between;
}

#current-album {
    display: inline-block;
    aspect-ratio: 1 / 1;
}

.info {
    flex-direction: column;
    justify-content: flex-start;
}

.icons {
    flex-direction: column;
    justify-content: center;
}

button {
    background-color: transparent;
    border: none;
    color: var(--white-color);
    opacity: 0.6;
    vertical-align: middle;

}

.bottom img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.left {
    width: 150px;
    align-items: center;
    column-gap: 10px;
    padding: 0 5px;
}

.right {
    width: 150px;
    justify-content: flex-start;
    align-items: center;
    column-gap: 6px;
    padding: 0 5px;
    vertical-align: middle;
}

.player {
    width: 40%;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;

}

.player-top {
    width: 100%;
    justify-content: space-around;
    align-items: center;

}

.player-bottom {
    width: 100%;
    justify-content: center;
    align-items: center;
    column-gap: 5px;

}




