:root {
    --sidebar-width: 60px;
    --footer-height: 150px;
    --white-color: white;
    --padding-titles: 3px 20px;
    --grey-color: grey;
}

/* DEBUG */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

#spotify-big {
    display: none;
}

.wrapper {
    width: 100%;
    height: 100vh;
    /* background-color: aqua; */
}

/* COMMON */



/* Typography */

body {
    font-family: 'Montserrat', sans-serif
}

h1 {
    color: var(--white-color);
    padding: var(--padding-titles);
}

h2 {
    color: var(--white-color);
    padding: var(--padding-titles);
}

h3 {
    color: var(--grey-color);
    padding: var(--padding-titles);
    font-size: 0.5rem;

}

h4 {
    text-transform: uppercase;
    padding-top: 20px;
    font-size: 1rem;
    display: none;
}

h5 {
    color: var(--grey-color);
    padding-left: 5px;
    font-size: 0.9rem;
}

.lista-playlist {
    font-size: 0.8rem;
    font-weight: 900;
    color: var(--grey-color);
}

.bold {
font-weight: 900;
}


/* UTILITIES */

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}

.sidefooter-display {
    display: none;
}

/* TOP */
.top {
    width: 100%;
    height: calc(100% - var(--footer-height));
    /* background-color: darkblue; */
    display: flex;
    flex-direction: row;


}

/* BOTTOM */

.bottom {
    width: 100%;
    height: var(--footer-height);
    background-color: darkgray;
}

/* SIDEBAR */
.sidebar ul {
    list-style: none;
}

.text {
    display: none;
}

.sidebar {
    width: var(--sidebar-width);
    /* height: 100%; */
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.square {
    background-color: grey;
    width: 5vw;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.round {
    background-color: grey;
    width: 5vw;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.playlist {
    display: flex;
    flex-direction: row;
}

.playlist-listflex {
    display: flex;
    flex-direction: column;
    justify-content: start;
    display: none;
}

.lista-playlist li {
    padding: 10px
}

.icon {
    width: 35px;
}

.icon-sidefooter {
    width: 20px;
}


.navside-top {
    display: flex;
    flex-direction: column;
}

.navside-footer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    row-gap: 8px;
}

.sidebar hr {
    width: 20px;
    color: var(--grey-color);
}



/* MAIN */

.main-content {
    width: calc(100% - var(--sidebar-width));
    /* height: calc(100vh - 150px); */
    background-color: rgb(104, 104, 104);
    overflow-y: auto;




}

.header {
    width: 100%;
    height: 100px;
    background-color: blueviolet;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;


}

.nav-bar {
    width: 100%;
    height: 50px;
    background-color: lightslategray;

}

.nav-bar ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-transform: uppercase;
    padding-top: 7px;
    gap: calc(100% / 6);
}

/* content */

.card-box {
    width: 100%;
    height: auto;
    /* height: 100vh; */
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;

}

.card {
    background-color: aliceblue;
    width: calc(100% / 2 - (10px * 2));
    min-height: 200px;

}

